.navbar {
  position: absolute;
  height: 75px;
  width: 100vw;
  z-index: 50;
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  cursor: pointer;
}

.menu {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  list-style: none;
  height: 100vh;
  width: 0;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 50px 0;
  transition: all 0.2s ease-out;
}
.menu li {
  margin: 15px 30px;
  cursor: pointer;
}
.menu li:hover {
  opacity: 0.2;
}

.menu.display {
  width: 230px;
}
.menu li a {
  text-decoration: none;
  color: inherit;
}

.cross {
  margin: 0 !important;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.hamburger {
  cursor: pointer;
}
.hamburger div {
  height: 3px;
  width: 25px;
  background: #000;
  margin-bottom: 3px;
}

.links {
  display: none;
  list-style-type: none;
  font-size: 1.2rem;
  margin-bottom: 0;
  width: 60%;
  justify-content: space-between;
  
}
.links li {
  position: relative;
}
.links li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #333;
  bottom: -2px;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.2s ease-out;
}
.links li:hover::before {
  transform: scale(1);
}
.links li a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 650px) {
  .container {
    width: 85%;
  }
  .hamburger {
    display: none;
  }
  .links {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (min-width: 950px) {
  .container {
    width: 75%;
  }
}



.lang{
  margin-right: 1rem;
  background-color: #fdeddb;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 14px -4px #cecdcd;
  cursor: pointer;
  
}
.lang img{

    margin-right: 2px;
  
}

.ico i{
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #000;
}

.navRight{
  display: flex;
  align-items: center;
}
.antdDrop{
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #84855d;
  
}
.antdDrop i{
  color: #84855d;
}
.dropItem{
  font-size: 1.2rem;
  padding: 5px 5px;
  display: inline-block;
}

.dropItem i{
  margin-right: 1rem;
}

.auth{
  background-color: #84855d;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
}