.header {
    background: #fdf9f6;
    color: #535353;
    border-radius: 25px;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 30px;
    font-size: 0.9rem;
    margin: 30px 0;
  }
  
  .pHeading {
    font-size: 2rem;
    margin-bottom: 5px;
    color: #000;
    text-transform: uppercase;
  }
  .center{
      /* padding:5rem 15rem; */
  }
  .container{
    /* margin-bottom: 300px; */
    width: 100%;
   
}
.top{
    width:120px;
    height:100px;
    margin-left:10px;
    margin-bottom: 1rem;
}

.image{
    width: 100%;
/* height: 400px; */
border-radius: 25px;
margin-left: auto;
margin-right: auto;
}
.title{
    font-weight: 600;
font-size: 15px;
/* line-height: 69px; */
color: #84855D;
/* margin-top: 2rem; */
}
.content{
    /* margin-bottom: 200px; */
    /* width: 500px; */
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #eeee;
    padding: 1rem;
    border-radius: 20px;
}
.sub{
    padding: 0.5rem 1rem;
}
.container1{
    width: 70%;
    margin: 0 auto;
}
.desc{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
/* font-size: 22px; */
font-size: 14px;
}
.link {
    font-family: Roboto;
font-style: italic;
margin-top: 1rem;
font-size: 15px;
display: inline-block;
text-decoration: none;
color: black;
border-bottom: 2px solid grey;
}
.like{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like span{
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #84855d;
   
}
.like span i{
    margin-left: 4px;
}


.comments{
    margin-bottom: 100px;
    margin-top: 50px;
  }
  .chart_image{
  height:100px; 
  width:100px;
  margin-top: 15px;
  cursor: pointer;
  
  /* margin-bottom: 30px; */
  
  }
  .commentcontainer{
    box-sizing: border-box;
    /* height:120px; */
    padding: 10px;
    display: flex;
    margin-top: 20px;
    /* align-items: center; */
    border: none !important;
  
  }
  .categoryUser{
    margin-left: 14px;
    font-size: 13px;
    color: grey;
  }
  .name{
    margin-top: 10px;
    font-size: 20px;
  }
  .comments{
    font-size: 18px;
    margin-left: 10px;
  }