.header {
  background: #fdf9f6;
  color: #535353;
  border-radius: 25px;
  text-align: center;
  padding: 50px 20px;
  margin: 30px;
  font-size: 0.9rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.pHeading {
  font-size: 40px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}
.title {
  font-family: Poppins;
  margin: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 69px;
  color: #84855d;
}
.end {
  margin: 15px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}
.pic {
  width: 70%;
}
.container{
  width: 70%;
  margin: 10px auto;
}
.imgtext {
  /* height: 90px; */
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  margin-top: 1.5rem;
  /* line-height: 69px; */
}

.box {
  margin-left: 20px;
}
.one {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.two {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.sig {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 70px 1fr;
  
}
.two1 {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
}
.three {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.btn {
  width: 320px;
  height: 59px;
  background: #535353;
  border-radius: 2px;
  margin-bottom: 200px;
  color: white;
}

.main {
  margin-bottom: 200px;
  margin: 30px;
  display: grid;
  height: max-content;
  grid-template-columns: 0.8fr 1fr;
}
.text {
  width: 700px;
  margin-left: 100px;
  font-family: Poppins;
  font-style: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 54px;
}
.save {
  height: 100px;
  width: 100px;
  font-size: 40px;
  margin-left: 400px;
  margin-bottom: 300px;
}
.backbtn {
  background-color: #84855d;
  border-radius: 12px;
  /* width: 249px; */
  /* height: 60px; */
  color: white;
  font-size: 12px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  /* margin-left: 100px;
  margin-top: 70px; */
}
textarea {
  margin-top: 2rem;
  width: 100% !important;
  padding: 10px;
}

.agree {
  margin: 2rem 0;
}
.agree input {
  margin-right: 1.5rem;
}

.area {
  width: 70%;
  margin: 15px auto;
}
