.header {
    background: #fdf9f6;
    color: #535353;
    border-radius: 25px;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 30px;
    font-size: 0.9rem;
  }
  
  .pHeading {
    font-size: 2rem;
    margin-bottom: 5px;
    color: #000;
    text-transform: uppercase;
  }
  .categories {
    margin-bottom: 30px;
    width: 70%;
    margin: 30px auto;
    display: grid;
    margin-bottom: 30px;
    justify-content: space-evenly;
    grid-template-columns: repeat(10, minmax(102px, 110px));
  }
  .category {
    display: inline-block;
    background: #84855d;
    padding: 7px 20px;
    margin: 0 5px 5px 5px;
    border-radius: 50px;
    color: #fff;
    font-size: 0.5rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
  }
  .category.selected {
    background: #48483d;
  }
  .cpetition{
    margin-left:800px;
    height:50px;
    width: 50px;
    cursor: pointer;
    
  }
  .petitions {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(230px, auto);
    gap: 3px;
    margin-bottom: 30px; */
    /* padding: 0 200px; */
  }

  .petitionSub{
    display: flex;
  }
  
  .petition {
    position: relative;
    /* background: #535353; */
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* align-items: flex-end; */
    height: 210px;
    /* border-radius: 15px 15px 15px 15px; */
    margin: 30px 0;
    padding: 10px;
    border: 2px solid grey;
  }
.petitionBtm{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .petitionImg{
    height: 150px;
    width: 250px;
    /* border-radius: 15px 0 0 15px; */

  }
  .petition .petition_container {
    /* padding: 2rem; */
    padding: 0 1rem;
    width: 100%;
    /* background-color: #fdf9f6; */
    border-radius: 0 15px 15px 0;
    
    
  }
  .container{
    width: 70%;
    margin: 0 auto;
  }
  .petition .petition_container_title {
 font-size: 16px;
 font-weight: bold;
 font-family: Roboto;
 color: #48483d;
    
    
  }

  .user{
text-transform: capitalize;
color: #84855d;
font-weight: bold;
font-size: 14px;
  }

  .supp i{
    color: #84855d;

  }
  .num{
    font-weight: bold;
  }

  .petition .petition_container_description {
    font-size: 14px;
    font-family: Roboto;
    color: #48483d;
       
       
     }
  .expected{
    font-size: 14px;
    font-family: Roboto;
    margin: 15px 0;
  }
  .read_more {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .read_more a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .add{
    font-size: 4rem;
    color: #84855d;
    display: inline-block;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
 .addPet{
   font-size: 1rem;
   color: white;
   background-color: #84855d;
   padding: 0.5rem 1rem;
   border-radius: 20px;
   margin-left: 1rem;
   cursor: pointer;
 }

  .types {
    position: relative;
    display: inline-flex;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 1.2rem;
  }
  .types div {
    padding: 0 20px;
    cursor: pointer;
  }
  .types::before {
    position: absolute;
    content: "";
    bottom: -1px;
    height: 4px;
    width: 33.33%;
    background: #84855d;
    transition: all 0.1s ease-out;
  }
  .types.active::before {
    left: 0;
  }
  .types.expired::before {
    left: 33.33%;
  }
  .types.myPet::before{
    left: 66.66%;
  }
  .types div span {
    display: inline-block;
    background: #fdeddb;
    height: 30px;
    width: 30px;
    font-weight: 400;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 750px) {
    .polls {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 550px) {
    .pHeading {
      margin-bottom: 15px;
    }
    .header {
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 350px) {
    .polls {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media screen and (max-width: 300px) {
    .polls {
      grid-auto-rows: minmax(330px, auto);
    }
  }
  