@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
}

.search-wrapper .chip {
  background: #48483d;
}

@media screen and (min-width: 2400px) {
  .container {
    width: 50%;
  }
}

.react-multi-carousel-list {
  position: unset;
}