.header {
  background: #fdf9f6;
  color: #535353;
  border-radius: 25px;
  text-align: center;
  padding: 50px 20px;
  margin: 30px;
  font-size: 0.9rem;
}
.pHeading {
  font-size: 40px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.options {
  display: flex;
  align-items: center;
 margin-bottom: 50px;
}
.lang {
  width: 78px;
  height: 39px;
  margin-left: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.line {
  width: 160px;
  margin-left: -10px;
  color: #84855d;

}
.lineshow {
  width: 160px;
  margin-left: -10px;
  color: #84855d;
  border: 3px solid #84855d;
}
.channels {
  display: flex;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.channel {
    display: flex;
  width: 100px;
  height: 50px;
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  align-items: center;
  cursor:pointer;
  background-color: #84855d;
  margin-bottom: 20px;
  justify-content: center;
  filter: drop-shadow(0px 4px 14px #ADADAD);
border-radius: 12px;
  
}
.player{
    width: 860px;
height: 472px;
background-color: black;
box-shadow: 8px 8px 15px rgba(179, 179, 179, 0.25);
border-radius: 25px;
margin-left: auto;
margin-right: auto;
margin-bottom: 200px;
display: flex;
align-items: center;
justify-content: center;
}
