.slidecontainer {
  margin-top: 50px;
  margin-left: 400px;
  width: 30%;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  margin: 0 auto;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border: 0;
  background: url("../../../Icons/star.png");
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url("../../../Icons/star.png");
  cursor: pointer;
}

.gender {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
}

.update-btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: #84855d;
  color: white;
  border-radius: 10px;
}
