.container {
  padding: 10px;
}
.heading {
  margin-bottom: 50px;
  /* margin-left: 40px; */
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* justify-content: space-between; */
}
.heading span {
  font-size: 1rem;
  background-color: #fdeddb;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 2rem;
}
.check {
  display: none;
}
.fills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 100px;
  align-items: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 100%;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

.dropdowns {
  margin-left: 400px;
  display: inline-block;
  width: 600px;
}

.sub1 {
  /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; */
  margin-left: 40px;
  width: 90%;
}
#selected {
  width: 100px;
  background-color: #5b5b5b;
  border-radius: 10%;
  border: 1px solid #5b5b5b;
  margin-left: 20px;
  color: #ffffff;
  padding: 5px;
  margin-top: 30px;
}
.apexcharts-legend {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 30px !important;
}
.apexcharts-legend-series {
  width: 300px !important;
}

.group {
  display: flex;
  margin-right: 40px;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
}
.vote__border {
  padding: auto !important;
}
.vote_head {
  padding: 1px 0px 10px 0;
}
.votes {
  margin: 2px auto;
}

.vote {
  font-size: 12px;
}

.apexcharts-xaxis {
  display: none !important;
}
.bar1 {
  margin-right: 10px;
}
.total {
  font-weight: 800;
  /* margin-left: -100px;
  width: 134px;
  margin-top: 30px;
  font-weight: 800; */
}
.bold {
  font-weight: 800;
  margin-left: -10px;
}
#over {
  display: inline-block;
  width: 80px;
  height: 35px;
  color: white;
  border: 1px solid blue;
}

@media screen and (max-width: 750px) {
  .heading {
    margin-left: auto;
    margin-right: auto;
  }
  .dropdowns {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  .fills {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  #selected {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .heading {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .box {
    margin-left: -60px !important;
  }
  .apexcharts-canvas {
    width: 200px !important;
  }
}
