.header {
  background: #fdf9f6;
  color: #535353;
  border-radius: 25px;
  text-align: center;
  padding: 50px 20px;
  /* margin: 30px; */
  font-size: 0.9rem;
  margin-bottom: 30px;
}
.pHeading {
  font-size: 40px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.head {
  font-size: 34px;
  display: inline-block;
  font-weight: 400 !important;
  /* border-bottom: 4px solid #84855d; */
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.headCat {
  font-size: 16px;
  display: inline-block;
  font-weight: bold !important;
  border-bottom: 4px solid #84855d;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  margin-left: 55px;
}
.gap{
  padding:0 150px;
}
.cards1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
.card {
  width: 200px;
  height: 150px;
  background-color: #fdf9f6;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.cardinside {
  height: 90%;
  width: 90%;
  background-color: #48483d;
  display: flex;
  background-color: #fdeddb;
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
}
.image1 {
  width: 70px;
  height: 70px;
  /* border-radius: 12px; */
  border-radius: 50%;
}
.name {
  width: 190px;
  /* height: 60px; */
  font-weight: normal;
  font-size: 12px;
  /* line-height: 28px; */
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-top: 10px;
}
.icon {
  height: 40px;
  width: 40px;
}
.box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* height: 900px; */
  width: 600px;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.box1{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* height: 900px; */
  width: 70%;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.quiz {
  display: flex;
  width: 600px;
  /* height: 180px; */
  background: #f0f0f0;
  box-shadow: -4px 4px 20px -6px #fdeddb;
  border-radius: 4px;
  margin: 5px 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.quiz1 {
  display: flex;
  width: 600px;
  cursor: pointer;
  /* height: 180px; */
  background: #fdf9f6;
  box-shadow: -4px 4px 20px -6px #fdeddb;
  border-radius: 4px;
  margin: 5px 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 4px;
}
.subbox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 50px; */
  margin-left: 2rem;
}
.subbox1 {
  display: flex;
}
.playicon {
  /* margin: 80px; */
  /* margin-left: 200px; */
  margin-right: 3rem;
  transform: scale(2);
}
.hr1 {
  border: 3px solid #84855d;
  width: 80px;
}
.qno {
  width: 120px;
  height: 50px;
  font-size: 25px;
  background: #84855d;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 800px;

  margin-top: 50px;
}
.sub1 {
  width: 540px;
  height: 100px;
  
  margin-right: 40px;
}
.quesc {
  width: 440px;
  background: #f0f0f0;
  box-shadow: -4px 4px 20px -6px #fdeddb;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 1rem;
}
.ques {
  padding-top: 10px;
  padding-left: 10px;
}
.btns {
  display: flex;
  justify-content: space-between;

}
.btnsbtn {
  /* width: 150px; */
  /* height: 60px; */
  background: #48483d;
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;

  margin: 10px;
}
.options1 {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
  margin-left: 20px;
}
.option {
  width: 400px;
  background: #fdf9f6;
  border-radius: 4px;
  justify-content: space-between;
  font-size: 16px;
 padding: 0.5rem 1rem;
 display: flex;
 align-items: center;
 margin-bottom: 20px;
 cursor: pointer;
}
/* .abs {
  position: absolute;
  top: 900px;
  right: 450px;

} */
/* .quizresult {
  margin-top: -600px;
  font-size: 1.3rem;
  font-weight: bold;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.quiz-result .bottom {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: white;
}
.quiz-result .bottom .cont {
  background-color: #a62844;
  width: 70%;
  padding: 1rem;
  border-radius: 15px;
  color: white;
}
.quiz-result .bottom .cont p span:nth-child(2) {
  justify-self: flex-start;
}

.quiz-result .total-score {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.quiz-result .total-score p {
  background-color: #a62844;
  width: 70%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 15px;
}

.modal {
  background-color: rgba(173, 8, 74, 0.3);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 100%;
  color: white;
  padding: 1rem 2rem;
}

.modal a {
  color: #bf0222;
} */

.modal1 {
  position: absolute;
  top: 100px;
  right: 200px;
}


.level{
  display: inline-block;
  padding:0.5rem 0;
  border-bottom: 4px solid #84855d;
  width: max-content;
  font-size: 20px;

}
.questionNumber{
  padding: 0.5rem 1rem;
  background-color: #84855d;
  color: white;
  border-radius: 50px;
}
.quizHead{
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.timer{
  display: flex;
  align-items: center;
  margin-left: 5rem;
  font-size: 1rem;
}
.timer .logo{
  margin-right: 1rem;
}

.BuyHints{
  background-color: antiquewhite;
  padding: 1rem;
  font-size: 1.5rem;
}

.hints{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid grey;
  font-size: 24px;
}
.val{
  padding: 0.5rem 1rem;
  background-color: #84855d;
  color: white;
  border-radius: 15px;

}
.noOf{
  display: flex;
  align-items: center;
}
.noOf i{
  margin-right: 0.5rem;
}

.pad{
  width: 80%;
  margin: 0 auto;
}


.down{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px;
}
.downBtn{
  width: 200px;
}